.container {
    background: linear-gradient(to bottom, #4b0082, #191970);
    
    color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
    h1, h2 {
    color: #f0f0f0;
    text-align: center;
  }
    .card {
    margin-bottom: 20px;
  }
    .table {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f0f0f0;
    border-radius: 10px;
  }
    .btn-primary {
    background-color: #483d8b;
    color: #f0f0f0;
  }
  
  .btn-warning {
    background-color: #8b4513;
    color: #f0f0f0;
  }
thead {
    background-color: #483d8b;
    color: #f0f0f0;
  }
    th {
    padding: 10px;
    text-align: center;
  }
.card {
    background-color: #483d8b;
    color: #f0f0f0;
    border-radius: 10px;
  }
    .card-body, .card-text, .card-title {
    color: inherit;
  }
  
